[Unit]
Description=tracking github notifications via Bentham
After=network.target

[Service]
Type=simple
Environment=VIRTUAL_ENV=/home/dan/.virtualenvs/bentham-sys
ExecStart=/home/dan/.virtualenvs/bentham-sys/bin/bentham track github danlamanna
